.fetch-content {
    
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  }

 

  @media screen and (max-width: 500px) {
    .fetch-content {
      width: 100%;
      height: 100%;
    }
  }

  